# 第1部分，指定Docker-Compose 版本
version: '3.3' 
# 第2部分，定义容器
services:
  db:
    image: mysql:5.7
    command: --default-authentication-plugin=mysql_native_password
    # 当运行容器失败后重启的策略
    restart: always   
    container_name: apitest-db
    volumes:
      # 宿主机：docker目录
      - dbdata:/var/lib/mysql  
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: dev01
  app:
    # 指定容器的启动依赖
    depends_on: 
      - db
    build: .
    image: zyanwei2011/apitest:v1.0
    container_name: apitest_d
    restart: always
    ports:
      - 5000:5000
    volumes:
      - mycode:/usr/src/app/dev01/
      - logs:/usr/src/app/logs/
    environment:
      FLASK_APP: run.py


# 第3部分，声明要创建的全局数据卷
volumes:  
  dbdata:
  mycode:
  logs:
