<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/reset.css" type="text/css">
    <link rel="stylesheet" href="../static/css/add.css" type="text/css">
    <script type="text/javascript" src="../static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.header li').click(function(){
                $(this).addClass('cur').siblings().removeClass('cur');
                console.log($(this).index());
                $('.content').eq($(this).index()).removeClass('hidden').siblings().addClass('hidden');
                console.log($('.content div').eq($(this).index()));
            });

            $('.add-header').click(function(){
                var tr = '<tr>' + $(this).parent().siblings().find('tr').eq(-1).html() + '</tr>'
                $(this).parent().siblings().find('table').append(tr)
            })
            
            // 删除操作
            $('.del-header').click(function(){
                var checked = $(':checked');
                var trs = $(this).parent().siblings().find('table').find('tr');


                console.log(checked.length)
                console.log(trs.length)
                
                if (trs.length>2){
                    if (checked.length>0){
                        checked.parent().parent().remove();
                    }else{
                        trs.eq(-1).remove()
                    }              
                } 
            
            })
        })
    
    </script>

    <title>添加请求</title>
</head>
<body>
    <div class="page">
        <div class="header">
            <ul>
                <li class="req-head cur">请求头</li>
                <li class="req-data">请求数据</li>
                <li class="check">验证数据</li>
            </ul>
        </div>
        <div class="body">
            <div class="content">
                <div class="data-header">
                    <span>请求头：</span>
                    <input type="button" class="add-header btn" value="添加header">
                    <input type="button" class="del-header btn" value="删除header">
                </div>
                <div class="data-content">
                    <form action="" method="POST">
                        <table>
                            <tr>
                                <th>选择</th>
                                <th>参数</th>
                                <th>值</th>
                            </tr>
                            <tr>
                                <td><input type="checkbox" class="table-check"></td>
                                <td><input type="text" class="table-input" value=""></td>
                                <td><input type="text" class="table-input" value=""></td>
                            </tr>

                        </table>
                    </form>
                </div>
            </div>
            <div class="content hidden">
                <div class="data-header">
                    <span>请求参数：</span>
                    <input type="button" class="add-header btn" value="添加header">
                    <input type="button" class="del-header btn" value="删除header">
                </div>
                <div class="data-content">
                    <form action="" method="POST">
                        <table>
                            <tr>
                                <th>选择</th>
                                <th>参数</th>
                                <th>类型</th>
                                <th>值</th>
                            </tr>
                            <tr>
                                <td><input type="checkbox" class="table-check"></td>
                                <td><input type="text" class="table-input" value=""></td>
                                <td>
                                    <select>
                                    <option value ="Int">Int</option>
                                    <option value ="String">String</option>
                                    <option value="Bool">Bool</option>
                                    <option value="其他">其他</option>
                                  </select>
                                </td>
                                <td><input type="text" class="table-input" value=""></td>
                            </tr>

                        </table>
                    </form>
                </div>
            </div>
            <div class="content hidden">
                <div class="data-header">
                    <span>响应数据：</span>
                    <input type="button" class="add-header btn" value="添加header">
                    <input type="button" class="del-header btn" value="删除header">
                </div>
                <div class="data-content">
                    <form action="" method="POST">
                        <table>
                            <tr>
                                <th>选择</th>
                                <th>参数</th>
                                <th>类型</th>
                                <th>值</th>
                            </tr>
                            <tr>
                                <td><input type="checkbox" class="table-check"></td>
                                <td><input type="text" class="table-input" value=""></td>
                                <td>
                                    <select>
                                    <option value ="Int">Int</option>
                                    <option value ="String">String</option>
                                    <option value="Bool">Bool</option>
                                    <option value="其他">其他</option>
                                  </select>
                                </td>
                                <td><input type="text" class="table-input" value=""></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>

    </div>
    
    
</body>
</html>