{% extends "base.html" %}
{% block title %}Add Suite{% endblock %}
{#{% load staticfiles %}#}
{% block content %}

    <div class=" admin-content">

        <div class="admin-biaogelist">

            <div style="margin-top: 20px">
                <div style="float: left; width: 40%; height: auto">
                    <form class="form-horizontal" id="form_message">

                        <div class="form-group">
                            <div class="input-group col-md-10 col-md-offset-1">
                                <div class="input-group-addon" style="color: #0a628f">项目列表</div>
                                <select id='project' name="project" class="form-control"
                                        onchange="load_module(this, '#module')">
                                    <option value="请选择">请选择</option>
                                    {% for foo in projects %}
                                        <option value="{{ foo.id }}">{{ foo.project_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group col-md-10 col-md-offset-1">
                                <div class="input-group-addon" style="color: #0a628f">接口列表</div>
                                <select id="module" name="module" class="form-control"
                                        onchange="load_case(this, '#case')">
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="input-group col-md-10 col-md-offset-1">
                                <div class="input-group-addon" style="color: #0a628f">用例列表</div>
                                <select multiple="multiple" size="25" id="case" name="case"
                                        class="form-control">
                                </select>
                            </div>
                        </div>

                    </form>
                </div>


                <button id="add_to_right" style="margin-left: 4%; display: inline-block; margin-bottom: -50%">>>
                </button>
                <div id="right" style="float: right; width: 50%; margin-right: 1%;">
                    <form class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">Suite</div>
                                <input type="text" name="suite_name" value="" class="form-control" id="suite_name"
                                       placeholder="Suite Name">
                            </div>
                        </div>
                        <button id="create_suite" type="button" class="btn btn-primary">Save Suite</button>
                    </form>
                    <nav>
                        <ol id="pre_case">
                            {% for case in cases %}
                                <li style='margin-left:15px' id="{{ case.id }}">
                                    <a id="{{ case[0] }}" style='font-size: 20px'>{{ case[1] }}</a>
                                    <i class=\"js-remove\" onclick=remove_self('#{{ case[0] }}')>✖</i>
                                </li>
                            {% endfor %}
                        </ol>
                    </nav>
                </div>
            </div>

        </div>
    </div>

    <script>

        $(function () {
            $("#pre_case").sortable();
            $("#pre_case").disableSelection();
        });

        $('#add_to_right').on('click', function () {
            var include = $('#case').val();
            console.log(include);
            for (var key in include) {
                var case_id = include[key];
                var case_name = $('#case option[value="' + include[key] + '"]').text();
                if (case_name !== '请选择') {
                    var href = "<li style='margin-left:15px' id=" + case_id + ">" +
                        "<a style='font-size: 20px' href='/api/edit_case/" + case_id + "/' id = " + case_id + ">" + case_name + "" +
                        "</a><i class=\"js-remove\" onclick=remove_self('#" + case_id + "')>✖</i></li>";
                    $("#pre_case").append(href);
                }

            }

        });

        $('#create_suite').on('click', function () {
            var test_length = $('#pre_case li').length;
            if ($('#suite_name').val() === '') {
                myAlert('大虾，Suite Name不能为空啊');
                return
            }
            if (test_length === 0) {
                myAlert('大虾，是不是忘记添加用例啦');
                return
            }
            var include = [];
            var i = 0;
            $("#pre_case li a").each(function () {
                include[i++] = [$(this).attr('id'), $(this).text()];
            });
            const suite = {
                {#'project': $("#belong_project option:selected").val(),#}
                'includes': include,
                'name': $('#suite_name').val()
            };
            var csrf_token = "{{ csrf_token() }}";

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });
            $.ajax({
                type: 'post',
                url: '/create_suite',
                data: JSON.stringify(suite),
                contentType: "application/json",
                success: function (res) {
                    window.location.href = "/suites";
                },
                error: function (res) {
                    {#myAlert('Sorry，服务器可能开小差啦, 请重试!');#}
                    myAlert(res.responseJSON.msg);
                }
            });

        });

        function remove_self(id) {
            $(id).remove();
        }
        {##}
        {#function auto_loads(id, url, target, type) {#}
        {#    var csrf_token = "{{ csrf_token() }}";#}
        {##}
        {#    $.ajaxSetup({#}
        {#        beforeSend: function(xhr, settings) {#}
        {#            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {#}
        {#                xhr.setRequestHeader("X-CSRFToken", csrf_token);#}
        {#            }#}
        {#        }#}
        {#    });#}
        {##}
        {#    auto_load(id, url, target, type);#}
        {#}#}


        function load_module(e, target) {
            var p_id = e.value;
            $.ajax({
                url: "/modules_by_project/"+p_id,
                success: function (res) {
                    console.log(res);
                    if (res.data) {
                        show_module(res.data, target);
                    }
                },
                fail: function () {
                    alert('项目不正确')
                }
            })
        }

        function load_case(e, target) {
            var p_id = e.value;
            $.ajax({
                url: "/cases_by_module/"+p_id,
                success: function (res) {
                    console.log(res);
                    if (res.data) {
                        show_module(res.data, target);
                    }
                },
                fail: function () {
                    alert('项目不正确')
                }
            })
        }

        function show_module( data, e_id) {
            $(e_id).empty();
            var option = '<option value="0">' + '全部' + '</option>'
            $(e_id).append(option);
            for (i=0; i < data.length; i++ ) {
                var option = '<option value="' + data[i]['id'] + '">' + data[i]['name'] + '</option>'
                $(e_id).append(option);
            }
        }


    </script>


{% endblock %}