
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajax</title>
    <link rel="shortcut icon" href="../static/img/svg/favicon.ico">
    <script type="text/javascript" src="../static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
</head>
<body>
    <h1>一、表单发送ajax请求登录</h1>
    <label for="username">用户名</label>
    <input type="text" name="username" id="username">
    <label for="password">密码</label>
    <input type="password" name="password" id="password">
    <input type="button" id="login" value="登录">
    <div></div>
    <h1>二、添加用例，下拉选择</h1>
    <form action="">
        <label for="pro">项目</label>
        <select name="pro" id="pro" style="width: 100px;">
            <option value="">请选择</option>
        </select>
        <label for="interface">接口</label>
        <select name="inter" id="interface" style="width: 100px;">
            <option value="">请选择</option>
        </select>
    </form>
</body>
</html>