body {
    color: #fff;
    font-family: "微软雅黑";
    font-size: 14px;

}

a {
    color: #3eb0f7;
    outline: 0;
    font-weight: bold;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

a:hover {
    text-decoration: none;
    color: #1f2222;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;

}

/*  注册页面*/

.register_left {
    float: left;
    left: 220px;
    width: 668px;
    height: 668px;
}

.logo {
    margin: 100px 0 50px 200px;
}

.re_info {
    margin: 0 0 30px 200px;
    position: absolute;
    left: 80 p
}

.re_info h1 {
    font-size: 48px;
}

.re_test {
    margin: 40px 0 0 0;
    width: 500px;
    font-size: 18px;
    font-style: bold;
}

.register_login-btn {
    width: 150px;
    height: 60px;
    text-align: center;
    margin: 50px 10px 10px 10px;
    border: solid 2px #3EB0F7;
    border-radius: 30px;
}

.register_login-btn {
    color: #3EB0F7;
    font: normal 24px/60px "微软雅黑";
    background: rgb(0, 0, 0, 0.1);
}

.register_login-btn:hover {
    color: #FFF;
    background: #3EB0F7;
    /*border-color: #FFF;*/
}


.register_right {
    float: left;
    margin: 150px 50px 0px 200px;
    background: rgb(104, 104, 104, 0.5);
    width: 450px;

}

.form_info {
    margin: 30px 30px 30px 30px;
}


/*登录页面*/

.wrap1 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto
}

/*把整个屏幕真正撑开--而且能自己实现居中*/
.main_content {
    background: url(img/main_bg.png) repeat;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    float: none;
    border-radius: 8px;
}

.form-group {
    position: relative;
}

.login_btn {
    display: block;
    background: #3872f6;
    color: #fff;
    font-size: 15px;
    width: 100%;
    line-height: 50px;
    border-radius: 3px;
    border: none;
}

.login_input {
    width: 100%;
    border: 1px solid #3872f6;
    border-radius: 3px;
    line-height: 40px;
    padding: 2px 5px 2px 30px;
    background: none;
}

.icon_font {
    position: absolute;
    bottom: 15px;
    left: 10px;
    font-size: 18px;
    color: #3872f6;
}

.font16 {
    font-size: 16px;
}

.mg-t20 {
    margin-top: 20px;
}

@media (min-width: 200px) {
    .pd-xs-20 {
        padding: 20px;
    }
}

@media (min-width: 768px) {
    .pd-sm-50 {
        padding: 50px;
    }
}

#grad {
    background: -webkit-linear-gradient(#4990c1, #52a3d2, #6186a3); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#4990c1, #52a3d2, #6186a3); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#4990c1, #52a3d2, #6186a3); /* Firefox 3.6 - 15 */
    background: linear-gradient(#4990c1, #52a3d2, #6186a3); /* 标准的语法 */
}