{% extends 'base.html' %}

{% block title %}
注册
{% endblock %}

{% block head %}

{% endblock %}


{% block body %}


<form action="{{ url_for('login') }}" method="POST">
    {{ form.hidden_tag() }}
    {{ form.phone.label }}: {{ form.phone }}
    <label>密码：</label><input type="password" name="pwd", value=''>
    <label>确认密码：</label><input type="password" name="confirm_pwd", value=''>
    <label>年龄：</label><input type="text" name="age", value=''>
    <input type="submit" name="login_btn", value="登陆">
</form>
    
{% endblock %}