.page{
    height: 100%;
    width: 100%;
}
.header{
    width: 100%;
    height: 40px;
    background-color: aliceblue;
}

.header li{
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    float: left;
}

.cur{
    background-color: rgb(106, 143, 177);

}

.content{
    width: 100%;
    height: calc(100% - 40px);
}


.data-header{
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-indent: 30px;
}


.btn{
    float: right;
    margin: 20px 10px;
} 


.data-content{
    width: 100%;
    height: calc(100% - 60px);
    /* background-color: rgb(106, 143, 177) */
}

form{
    margin: 40px auto;
}

table{
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

select{
    width: 50%;
    text-align: center;
}

.table-input{
    width: 90%;
    margin: 2px;
}


td {
    border: solid #000 1px;
    }

th {
    border: solid #000 1px;
    }

.hidden{
    display: none;
}

