.header{
    height: 45px;
    width: 100%;
    background:#31343f;
}


.title{
    width: 20%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size:26px;
    font-weight:bold;
    color : white;
    float: left;
}

.menu_list li{
    width: 8%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size:20px;
    color : white;
    display: inline;
    float: left;
}

.menu_list li:hover{
    background: #6392ed;
}


.login_info{
    float: right;
    height: 45px;
    line-height: 45px;
}

.login_info a{
    color: white;
    text-align: center;
    margin-right: 20px;
}







.left_content{
    margin-top: 20px;
    background-color: #fff;
    width: 15%;
    min-height: 84%;
    color: white;
    float: left;
}

.left-title{
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    background-color: #03c;
    text-indent: 50px;
    float: left;
}


.left-menu-list h3{
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-indent: 50px;
    border-bottom: solid 1px #e3e2ed;
    background-repeat: no-repeat;
    background-image: url(../img/svg/arrow-down.svg);
    background-position: 180px;
    color: rgba(51, 62, 82, 0.73);
    float: left;
}

.left-menu-list a{
    width: 100%;
    color: #2c60ed;
    background: #eef22f;
    text-indent: 60px;
    float: left;

}

.right_content{
    width: 85%;
    min-height: 84%;
    position: absolute;
    left: 320px;
    top: 60px;
    background: #fff;
    padding-left: 60px;

}

.pro-info{
    width: 200px;
    height: 140px;
    border: solid 1px #9297a2;
    margin: 25px;
    float: left;
    border-radius:10px;
    text-align: center;
}

.pro-title{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #9ad2ed;
    color: #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.pro-info p{
    color: rgba(0, 0, 0, 0.47);
}


.del-pro{
    background: #0033cc;
    border-radius: 20px;
    width: 100px;
    margin: 20px auto auto auto;
}

.add-pro{
    line-height: 140px;
}


.footer{
    height: 8%;
    width: 100%;
    background-color:rgb(61, 61, 66);
    border-top: 1px;
    border-color: red;
    float: left
} 


.alter-back {
    width: 100%;
    height: 900px;
    background-color: rgba(146, 151, 162, 0.47);
    position: fixed;
    top: 0;
    left: 0;
}

.alter-add{
    position: fixed;
    left: 36%;
    top: 100px;
    width: 550px;
    height: 400px;
    background: #fff;
    border: solid 1px gray;
    border-radius: 10px;
}

.alter-title{
    text-align: center;
    margin: 0 auto;
    display: block;
    margin: 20px auto;
    font:  24px blod;
}

.alter-close{
    float: right;
    font: 14px;
}
form .alter-input{
    width: 100%;
    height: 50px;

}

.alter-add label{
    width: 30%;
    margin-left: 50px;
    height: 50px;
}

.alter-add input{
    width: 60%;
    height: 46%;
}


#pro-desc{
    rows: 5;
}


.pro-submit{
    text-align: center;
}


.pro-submit input{
    width: 80px;
    height: 30px;
    margin-top: 30px;
    color: blue;
}

.hidden {
    display: none;
}


